@model InventoryManagementMVCVSix.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
        <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            Manufacturer: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturerName), @Html.DisplayFor(model => model.ManufacturerContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistributorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistributorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistributorContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistributorContact)
        </dd>
        <dt class = "col-sm-2">
            Address: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildNo), @Html.DisplayFor(model => model.Street)<br />
            @Html.DisplayFor(model => model.Area), @Html.DisplayFor(model => model.City) - @Html.DisplayFor(model => model.ZipCode) 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModificationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModificationDate)
        </dd>
    </dl>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group d-none">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="ManufacturerName" class="control-label"></label>
                <input asp-for="ManufacturerName" class="form-control" />
                <span asp-validation-for="ManufacturerName" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="ManufacturerContact" class="control-label"></label>
                <input asp-for="ManufacturerContact" class="form-control" />
                <span asp-validation-for="ManufacturerContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductQuantity" class="control-label"></label>
                <input asp-for="ProductQuantity" class="form-control" />
                <span asp-validation-for="ProductQuantity" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="DistributorName" class="control-label"></label>
                <input asp-for="DistributorName" class="form-control" />
                <span asp-validation-for="DistributorName" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="BuildNo" class="control-label"></label>
                <input asp-for="BuildNo" class="form-control" />
                <span asp-validation-for="BuildNo" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="DistributorContact" class="control-label"></label>
                <input asp-for="DistributorContact" class="form-control" />
                <span asp-validation-for="DistributorContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModificationDate" class="control-label"></label>
                <input asp-for="LastModificationDate" class="form-control" />
                <span asp-validation-for="LastModificationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
